<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>391837352163-s43hl8j24e5gcm6r3re5274sd3qevih8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.391837352163-s43hl8j24e5gcm6r3re5274sd3qevih8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>391837352163-9om15d0h2bt6o1chs9equl4albuifs6s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCk4PvjCK0HnOBgKMWfjw-is_jPPF-Ek9s</string>
	<key>GCM_SENDER_ID</key>
	<string>391837352163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.steptracker.waterreminder.maprunner</string>
	<key>PROJECT_ID</key>
	<string>menzyapp-368b0</string>
	<key>STORAGE_BUCKET</key>
	<string>menzyapp-368b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391837352163:ios:c98923e8fc0cf7291a05d6</string>
</dict>
</plist>